

.product{
    background-color: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.05);
}

.product img{
    width: 40%;
}

.productDetail{
    width: 60%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.productDetailName{
    font-size: larger;
    font-weight: 600;
    color: var(--dark-primary-color);
}

.productDetailPrice{
    color:rgb(133, 133, 133);
}

.productDetailPrice::before{
    content: "$";
}

.productDetailSku{
    background: rgb(234, 234, 234);
    color:rgb(133, 133, 133);
    width: 40%;
    text-align: center;
    border-radius: 5px;
}

