.about{
    width: 95%;
    margin: 0 auto;
}

.aboutTitle{
    font-weight: 600;
    font-size: 30px;
    color: var(--light-primary-color);
    text-align: center;
    margin: 35px auto;
}

.reference{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px;
    color: rgb(157, 157, 157);
}

.reference a{
    color: var(--dark-primary-color);
    font-weight: 600;
}