.presentation{
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    align-items: center;
    gap: 10px;
}

.presentationTitle{
    font-size: x-large;
    color: var(--primary-color);
    font-weight: 600;
}

.presentationImg{
    width: 32px;
}

.presentationSubtitle{
    color: var(--dark-primary-color);
}